@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.form{
    max-width: 480px;
    width: 60%;
    padding:30px;
    border-radius: 7px;
    background-color: white;
}

header{
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-align: center;
}

header img{
    height: 150px;
    width: 170px;
}

form{
    margin-top: 32px;
}

.form .field{
    position: relative;
    height: 52px;
    width: 100%;
    margin-top: 22px;
    border-radius: 7px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border:none;
    font-size: 13px;
    font-weight: 400;
    border-radius: 7px;
}

.field input{
    outline: none;
    padding: 0 16px;
    border: 1px solid #000000;
}

.field input:focus{
    border-bottom-width: 2px;
}

.field button{
    color: #D9D9D9;
    background-color: #0071d3;
    transition: all 0.3s ease;
    cursor:pointer;
}

.field button :hover{
    background-color: #016dcb;
}

.form-link{
    text-align: center;
    margin-top: 12px;
}


.form-link span,
.form-link span a{
    font-size: 15px;
    font-weight: 400;
    

}

.form a{
    color: #0071d3;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin:36px 0;
    background-color: black;
}

.line::before{
    content: "Ou";
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50% -50%);
    color:#000000;
    padding: 0 15px;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook{
    color:#D9D9D9;
    background-color: #4267b2;

}

a.facebook .facebook-icon{
    height: 29px;
    width: 29px;
    color: #4267b2;
    font-size: 20px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 14px;
    transform:translateY(-50%)
}

img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;

}

a.google{
    border: 1px solid #D9D9D9;
}

a.google span{
    font-weight: 500;
    opacity: 0.7;
    color:#000000;
}