*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*estilo adicionado no menu ao rolar*/
#menu.ativo{
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
}

/*estilo adicionado ao toggle*/
.remove{
    display: none;
}

.add{
    display: block;
}

/*estilo do menu*/
#menu{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    align-items: center;
}

.listamenu{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listamenu img{
    width: fit-content;
    height: 100px;
}

.listamenu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.lista_centro{
    align-items: center;
    font-size: 25px;
}

.lista_centro a{
    text-decoration: none;
}

.lista_centro li{
    color: #141274;
    margin: 0 5px;
    padding: 2px 15px;
}

.lista_direita{
    align-items: center;
}

.lista_direita a{
    display: flex;
    text-decoration: none;
}

.lista_direita button{
    font-size: 25px;
    background-color: transparent;
    width: 100px;
    margin-right: 15px;
    color: #141274;
    border: 0px;
    cursor: pointer;
}

.lista_direita li{
    padding: 10px;
}

.lista_direita img{
    width: 40px;
}

body{
    overflow-x: hidden;
}

main{
    width: 100%;
    height: auto;
    background-color:#fff;
}

/* Inicio da header*/
header{
    width: 100%;
    height: 140px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    
    
}

#logo_azul{
    width: 180px;
    height: 130px;
    margin-left: 90px;
    margin-right: 165px;
    margin-top: 8px;
}

.menus, .menus div{
    display: flex;
    flex-direction: row;
    gap: 27px;
    text-decoration: none;
    color: #000;
    margin-top: 45px;
    font-size:19px; 
    
}


 #faca_login{
    color: #000;
    margin-top: 32px;
    margin-left: 100px;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
}

#usuario{
    width: 60px;
    height: 60px;
    margin-top: 55px;
    margin-right: 15px;
}

#carrinho{
    width: 60px;
    height: 60px;
    margin-top: 55px;

}


 /* Final da header*/



 /* Inicio backgroud com logo branco*/
 #fundo_imagem{
    width: 100%;
    height: 400px;
    background-image: url(../assets/image-background3\ 4.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    
 }

 .logo_branco{
    width: 400px;
    height: 276px;
    margin: auto;
    padding-top: 60px;
    
 }

 /* fim backgroud com logo branco*/


 /* inicio da section*/
 section{
    width: 100%;
    height: auto;
    display: flex;
    margin-left: 3.3%;
    
 
 }

/* Div das caixas com flex direction colum*/
 #div_caixas{
    width: 45%;
    flex-direction: column;
    
 }

 
/* inicio caixa 1*/
 #caixa1{
    position: relative;
    width: 100%;
    height: 270px;
    background-color: #f5f5f5;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #000;
    text-decoration: none;
    
 }

#caixa1 a{
    text-decoration: none;
    
}


 
 #titulo{
    text-align: center;
    font-size: 23px;
    color: #000;
    margin-top: 5px;
 }

 

 #notebook{
    width: 43%;
    height: 175px;
    float: left;
    margin-top: 20px;
    
 }

 #texto1 {
    font-size: 22px;
    margin-top: 30px;
    color: #000;
    
 }

 #texto2{
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
    color: #000;
 }

 /* fim da caixa1*/

/* inicio caixa 2*/
#caixa2{
    position: relative;
    width: 100%;
    height: 270px;
    background-color: #f5f5f5;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #000;
    text-decoration: none;

}

#caixa2 a{
    text-decoration: none;
    
}

 #mac{
    width: 40%;
    height: 175px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;

}

#texto_mac1{
    font-size: 22px;
    margin-top: 20px;
    color: #000;
    text-align: center;
}

#texto_mac2{
    font-size: 22px;
    margin-top: 30px;
    color: #000;
    text-align: center;
}

/* fim caixa 2*/

/* inicio caixa 3*/

#caixa3{
    position: relative;
    width: 100%;
    height: 270px;
    background-color: #f5f5f5;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #000;
    text-decoration: none; 

}

#caixa3 a{
    text-decoration: none;

}

#tablete{
    width: 40%;
    height: 175px;
    float: left;
    margin-top: 20px;
    margin-left: -10px;
   

}

#texto_tablete1{
    font-size: 22px;
    margin-top: 20px;
    color: #000;
    text-align: center;

}

#texto_tablete2{
    font-size: 22px;
    margin-top: 30px;
    color: #000;
    text-align: center;

}

/*Fim da caixa 3*/



/* Div da caixa 4*/
#div_caixa{
    width: 45%;
    margin-left: 3.3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

#caixa4{
    position: relative;
    width: 100%;
    height: 874px;
    background-color: #f5f5f5;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #000;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
}

#caixa4  p{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

#caixa4 a{
    text-decoration: none;
}

#titulo4{
    text-align: center;
    color: #000;
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#monitor4{
    width: 40%;
    height: 175px;
    margin-top: 50px;
    margin-left: 15px;
    float: left;
    
}

#texto4{
    text-align: center;
    margin-top: 70px;
    color: #000;
    font-size: 21px;
}



#adicionar{
    color: #000;
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
    
}

#samsung{
    width: 40%;
    height: 175px;
    margin-top: 110px;
    margin-left: 15px;
    float: left;
    clear: left;
}

#texto_samsung{
    float: left;
    color: #000;
    font-size: 21px;
    margin-top: 140px;
    margin-left: 15px;
    text-align: center;
    margin-bottom: 15px;
}

#adicionar2{
    color: #000;
    text-align: center;
    font-size: 21px;
    margin-top: 50px;
}

#tablete4{
    width: 40%;
    height: 175px;
    margin-top: 110px;
    margin-left: 15px;
    float: left;
    clear: left; 
}

#texto_tablete{
    float: left;
    color: #000;
    font-size: 21px;
    margin-top: 150px;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center;
}

#adicionar3{
    color: #000;
    font-size: 21px;
    float: left;
    margin-left: 110px;
}

/*Fim da caixa 4*/

#calculos_1{
    background-color: #ffffff;
}

#frase{
    font-size: 27px;
    text-align: center;
    margin-top: 30px;
    color: #000;
}




#cep_origem{
    width: 520px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 75px;
    font-size: 25px;
    padding-left: 15px;
    float: left;
    
}

#caminhao{
    width: 85px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}


#cep_destino{
    width: 520px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 35px;
    margin-left: 26px;
    float: left;
}

.altura{
    width: 205px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 75px;
    margin-top: 15px;
    float: left;
    clear: left; 
    display: flex;
    flex-direction: row;
}

.largura{
    width: 205px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    
}

.comprimento{
    width: 205px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    
}

.peso{
    width: 205px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    
}

.valor_produto{
    width: 205px;
    height: 55px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
    
}

#calculos .calcular{
    width: 373px;
    height: 45px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 75px;
    text-align: center;
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    
}

.valor_frete{
    width: 373px;
    height: 45px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 40px;
    text-align: center;
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    
    
}

.valor_total{
    width: 373px;
    height: 45px;
    background-color: #f5f5f5;
    border: 1px solid  #000;
    border-radius: 15px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 40px;
    text-align: center;
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    
}


/*estilo do rodapé*/
footer{
    width: 100%;
    height: auto;
    background-color: #63636A;
}

footer .conteudo_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    height: 310px;
    padding: 20px 30px;
}

footer .divs_footer{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;   
}

.divs_footer img{
    width: 200px;
    height: fit-content;
}

.divs_footer span{
    padding: 20px 0;
    font-size: 24px;
}

.divs_footer ul{
    list-style: none;
}

.divs_footer ul li img{
    width: 30px;
    margin-right: 10px;
}

.divs_footer a, .divs_footer a img{
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    width: 18px;
}

footer .topo_pagina{
    height: 30px;
    border-radius: 50px;
    background-color: #ffffff;
}

footer .topo_pagina span{
    font-size: 30px;
    color: #000000;
}

footer .copyright{
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    height: 50px;
}



/*Fim da programação desktop*/




/* Vizualização smartphone*/











 


 
    
 











    








