*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background:#D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;  
}
img{
    width: 80px;
    height: 80px; 
    margin-top:10px;
}
form{
    width:50%;
    height: 550px;
    background-color: #FFFFFF;
    border: 3px solid #141274;
    border-radius: 25px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
}
div{
    width: 38%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
div input{
    width: 110px;
    height: 26px;
    display: flex;
    flex-direction: row;
    
}
input{
    width: 250px;
    height: 50px;
    background: #ffff;
    border: 2px solid #141274;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 35px;
    color: #000; 
    padding-left: 5px; 
    margin-top: 12px;
}

    

#sim{
    width: 15px;
    height: 34px;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 410px;
}
p{
    position: absolute;
    left: 8%;
    right: 6.39%;
    bottom: 41.84%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 62px;
    margin-top: 5px;
    text-align: center;
    top: 500px;

}

#text{
    height: 100px;
}
a{
    background-color: #ffff;
    border: 2px solid #141274;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 100px;
    text-align: center;
    font-family: 'Molengo';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 35px;
    margin: 10px;
}
a button{
    background-color: #ffff;
}


@media only screen and (max-width:480px){
    form{
        width: 80%;
    }

    div{
        margin-right: 128px;
    }

    div input{
        margin-left: 10px;
    }
    p{
        font-size: 13px;
    }
    #sim{
        margin-right: 350px;
    }
}

/* Final*/
 
@media only screen and (min-width:481px){
    @media only screen and (max-width:720px)
    {
        form{
            width: 90%;
            
        }
        div{
            margin-right: 40px;
        }
        div input{
            margin-left: 15px;
        }
        p{
            margin-left: 10px;
        }

        #sim{
            margin-right: 400px;
        }

    }
}














